* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #ddd;
}

#stats-container {
	position: absolute;
	top: 0px;
	left: 0px;
}

#detailContainer {
	display: block;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 460px;
	padding: 0 20px 60px 20px;
	overflow: hidden;
	z-index: 9999 !important;
	-webkit-transition: all 0.8s ease-in;
	transition: all 0.8s ease-out;
}
#detailContainer.hidden {
	width: 0;
	padding: 0;
}

#detailTitle {
	display: block;
	margin: 0 0 0 20px;
	font-size: 42px;
	line-height: 60px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.75);
}

#detailClose {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
}

#detailBody {
	display: block;
	color: #FFF;
	z-index: 9999;
	text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}

.fa:hover {
	transform: scale(1.1);
}

.pulsate {
	-webkit-animation: pulsate 2s ease-out 0s 20;
	animation: pulsate 2s ease-out 0s 20;
}

.wobble {
	-webkit-animation: wobble 2s ease-out 0s 20;
	animation: wobble 2s ease-out 0s 20;	
}

@-webkit-keyframes pulsate {
	0% { opacity: 1.0; }
	50% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes wobble {
	0%: { -webkit-transform: rotate(0deg); }
	20%: { -webkit-transform: rotate(3deg); }
	50%: { -webkit-transform: rotate(-3deg); }
	100%: { -webkit-transform: rotate(0deg); }
}